In this dataset, P0 to P6 are various architectural and mechanical  parameters of a building which was simulated in EnergyPlus. ( I will update with more details as soon as the paper related to this research has been published) 
Furthermore, v1, v2 and v3 are output parameters of this simulation (namely: Energy consumption, Discomfort hours, and carbon footprint)

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
from google.colab import drive
import os
drive.mount('/content/gdrive')
os.chdir("/content/gdrive/My Drive/")

Mounted at /content/gdrive

# Import Dataset

In [4]:
df = pd.read_csv('AHU HR 25600.csv')

In [5]:
print(df.shape)
df.describe().transpose()

(25600, 14)

      count          mean          std  ...        50%         75%       max
#   25600.0  12799.500000  7390.227782  ...  12799.500  19199.2500  25599.00
P0  25600.0     24.000000     1.414241  ...     24.000     25.0000     26.00
P1  25600.0      0.125000     0.055903  ...      0.125      0.1625      0.20
P2  25600.0      0.095000     0.033542  ...      0.095      0.1175      0.14
P3  25600.0      8.000000     4.242724  ...      8.000     11.0000     14.00
P4  25600.0      0.750000     0.111806  ...      0.750      0.8250      0.90
P5  25600.0     26.500000     1.118056  ...     26.500     27.2500     28.00
P6  25600.0     20.500000     5.590279  ...     20.500     24.2500     28.00
v1  25600.0   8460.874193  1374.552580  ...   8360.510   9370.8600  12907.64
v2  25600.0    338.634590   258.034677  ...    325.500    580.5000    776.50
v3  25600.0   2985.076178   558.202377  ...   2960.120   3363.3100   4812.98

[11 rows x 8 columns]

In [6]:
df.dtypes

#             int64
Solution     object
W            object
T            object
P0            int64
P1          float64
P2          float64
P3            int64
P4          float64
P5            int64
P6            int64
v1          float64
v2          float64
v3          float64
dtype: object

In [7]:
df['P0'] = df['P0'].astype(float)
df['P1'] = df['P1'].astype(float)
df['P2'] = df['P2'].astype(float)
df['P3'] = df['P3'].astype(float)
df['P4'] = df['P4'].astype(float)
df['P5'] = df['P5'].astype(float)
df['P6'] = df['P6'].astype(float)
df['v1'] = df['v1'].astype(int)
df['v2'] = df['v2'].astype(int)
df['v3'] = df['v3'].astype(int)
df.dtypes

#             int64
Solution     object
W            object
T            object
P0          float64
P1          float64
P2          float64
P3          float64
P4          float64
P5          float64
P6          float64
v1            int64
v2            int64
v3            int64
dtype: object

In [8]:
target_column = ['v1'] 
predictors = ['P0', 'P1' , 'P2' , 'P3' , 'P4' , 'P5' , 'P6']
df[predictors] = df[predictors]/df[predictors].max()
df.describe().transpose()

      count          mean          std  ...           50%           75%      max
#   25600.0  12799.500000  7390.227782  ...  12799.500000  19199.250000  25599.0
P0  25600.0      0.923077     0.054394  ...      0.923077      0.961538      1.0
P1  25600.0      0.625000     0.279514  ...      0.625000      0.812500      1.0
P2  25600.0      0.678571     0.239583  ...      0.678571      0.839286      1.0
P3  25600.0      0.571429     0.303052  ...      0.571429      0.785714      1.0
P4  25600.0      0.833333     0.124228  ...      0.833333      0.916667      1.0
P5  25600.0      0.946429     0.039931  ...      0.946429      0.973214      1.0
P6  25600.0      0.732143     0.199653  ...      0.732143      0.866071      1.0
v1  25600.0   8460.377852  1374.555116  ...   8360.000000   9370.000000  12907.0
v2  25600.0    338.383477   258.027678  ...    325.000000    580.000000    776.0
v3  25600.0   2984.582383   558.199923  ...   2960.000000   3363.000000   4812.0

[11 rows x 8 columns]

In [9]:
X = df[predictors].values
y = df[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(17920, 7)
(7680, 7)

In [11]:
from sklearn.neural_network import MLPRegressor

mlp = MLPRegressor(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=500)
mlp.fit(X_train,y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [12]:
#print("R2-score: %.2f" % r2_score(test_y , test_y_) )
print("R2-score: %.2f" % r2_score(y_test,predict_test) )

R2-score: 0.97

In [13]:
target_column = ['v2'] 
predictors = ['P0', 'P1' , 'P2' , 'P3' , 'P4' , 'P5' , 'P6']
df[predictors] = df[predictors]/df[predictors].max()
df.describe().transpose()

from sklearn.neural_network import MLPRegressor

mlp = MLPRegressor(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=500)
mlp.fit(X_train,y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

print("R2-score: %.2f" % r2_score(y_test,predict_test) )

R2-score: 0.99

In [14]:
target_column = ['v3'] 
predictors = ['P0', 'P1' , 'P2' , 'P3' , 'P4' , 'P5' , 'P6']
df[predictors] = df[predictors]/df[predictors].max()
df.describe().transpose()

from sklearn.neural_network import MLPRegressor

mlp = MLPRegressor(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=500)
mlp.fit(X_train,y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

print("R2-score: %.2f" % r2_score(y_test,predict_test) )

R2-score: 0.99